* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 90px;
    border: 3px solid black;
  }
  div {
    margin-top: 0px;
  }

  h1{
    text-align: center;
    margin-top: 15px;
  }
  #first-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1300px;
    height: 600px;
  }
  nav {
    height: 150px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display:block;
    text-align: center;
}

.button {
    display: inline-block;
    text-align: center;
    height: 90px;
    width: 506px;
    margin: 0px;
    padding-top: 30px;
    font-size: large;
    background-color: rgb(24, 24, 24);
    color: white;
    border: solid 3px rgb(67, 67, 67);
    align-items: center;
}
.button{
    float: left;
}

body {
    background-color: hsl(347, 73%, 34%);
}

.column1 {
    float: left;
    width: 45%;
    margin: 15px;
    padding: 5px;
}
.column2 {
    float: right;
    width: 45%;
    margin: 15px;
    padding: 5px;
}

img {
    border: 4px solid black;
    height: 600px;
    width: 600px;
    display: inline;
    
}

ol {
    list-style:symbols(1);
    padding: 0px;
    padding-left: 70px;

}

li {
    font-size: large;
    font-style: bold;
    list-style-position: outside;
    font-weight: bold;
 
}


